<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="interfaceIp" value="127.0.0.1" />
    <add key="interfacePort" value="7001" />
    <add key="interfaceSendPort" value="9001" />
    <add key="interfaceBackgroundPort" value="7002" />
    <add key="interfaceBackgroundSendPort" value="9002" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>